<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.ruben.appreciclaje">

    <!-- Include required permissions for Google Mobile Ads to run. -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- This meta-data tag is required to use Google Play Services. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity> <!-- Include the AdActivity configChanges and theme. -->
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent"/>
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key"/>

        <activity
            android:name=".CartonActivity"
            android:label="@string/title_activity_carton"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ruben.appreciclaje.MainActivity"/>
        </activity>
        <activity
            android:name=".VidrioActivity"
            android:label="@string/title_activity_vidrio"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ruben.appreciclaje.MainActivity"/>
        </activity>
        <activity
            android:name=".PlasticoActivity"
            android:label="@string/title_activity_plastico"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ruben.appreciclaje.MainActivity"/>
        </activity>
        <activity
            android:name=".MetalActivity"
            android:label="@string/title_activity_metal"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ruben.appreciclaje.MainActivity"/>
        </activity>
        <activity
            android:name=".OrganicoActivity"
            android:label="@string/title_activity_organico"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ruben.appreciclaje.MainActivity"/>
        </activity>
        <activity
            android:name=".BateriaActivity"
            android:label="@string/title_activity_bateria"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ruben.appreciclaje.MainActivity"/>
        </activity>
        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ruben.appreciclaje.MainActivity"/>
        </activity>
        <activity
            android:name=".BateriaMetodoActivity"
            android:label="@string/title_activity_bateria_metodo"
            android:parentActivityName=".BateriaActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ruben.appreciclaje.BateriaActivity"/>
        </activity>
        <activity
            android:name=".CartonMetodoActivity"
            android:label="@string/title_activity_carton_metodo"
            android:parentActivityName=".CartonActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ruben.appreciclaje.CartonActivity"/>
        </activity>
        <activity
            android:name=".MetalMetodoActivity"
            android:label="@string/title_activity_metal_metodo"
            android:parentActivityName=".MetalActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ruben.appreciclaje.MetalActivity"/>
        </activity>
        <activity
            android:name=".OrganicoMetodoActivity"
            android:label="@string/title_activity_organico_metodo"
            android:parentActivityName=".OrganicoActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ruben.appreciclaje.OrganicoActivity"/>
        </activity>
        <activity
            android:name=".PlasticoMetodoActivity"
            android:label="@string/title_activity_plastico_metodo"
            android:parentActivityName=".PlasticoActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ruben.appreciclaje.PlasticoActivity"/>
        </activity>
        <activity
            android:name=".VidrioMetodoActivity"
            android:label="@string/title_activity_vidrio_metodo"
            android:parentActivityName=".VidrioActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ruben.appreciclaje.VidrioActivity"/>
        </activity>
    </application>

</manifest>